---
layout: default
title: 
---

.centerbox 
  #postlistbox
    - site.collated_posts.sort.reverse.each do |year, months|
      %h2= year
      - months.sort.reverse.each do |month,days|
        %ol
          - days.sort.reverse.each do |day,posts|
            - posts.each do |post|
              %li.postlist
                %strong= "[#{post.date.strftime("%b %d")}]"
                = link_to(h(post.title), post.url)
        %hr

  #sidebar
    %h4 Other places you can find me:
    .sitelinks 
      %a{:href => "http://facebook.com/philkates"}
        %img{:src => "/img/facebook.png"}
      %a{:href => "http://flickr.com/hawk684"}
        %img{:src => "/img/flickr.png"}
      %a{:href => "http://www.last.fm/user/hawk684"}
        %img{:src => "/img/lastfm.png"}
      %a{:href => "http://www.linkedin.com/in/philkates"}
        %img{:src => "/img/linkedin.png"}
      %a{:href => "http://www.google.com/profiles/hawk684"}
        %img{:src => "/img/google.png"}
      %a{:href => "http://www.pandora.com/people/hawk684"}
        %img{:src => "/img/pandora.png"}
      %a{:href => "http://www.reddit.com/user/PhilK/"}
        %img{:src => "/img/reddit.png"}
      %a{:href => "http://www.youtube.com/user/hawk684"}
        %img{:src => "/img/youtube.png"}
      %a{:href => "http://github.com/philk"}
        %img{:src => '/img/github.png'}
      %a{:href => "http://philkates.tumblr.com/"}
        %img{:src => '/img/tumblr.png'}
      %a{:href => "http://pinboard.in/u:philk/"}
        %img{:src => '/img/pinboard.png'}
    %br
    #recent