@import blueprint.sass
@import compass/reset.sass
@import compass/utilities.sass
@import blueprint/modules/fancy_type.sass

+blueprint-typography("body")
+blueprint-utilities
+blueprint-grid
+blueprint-interaction
+blueprint-form

#container
    +container
    :margin-top 4em
    h4
        :font-size 1.3em
        :font-family Helvetica, Arial, sans-serif
    
#header
    +column(10)
    +prepend(5)
    :margin-bottom 3em
    :font-size 1.3em
    :font-family Helvetica, Arial, sans-serif
    h1
        :margin-bottom 0.2em
        a
            :font-weight bold
            :color #000
            :text-decoration none
        a:hover
            :text-decoration underline
        a:visited
            :border none
    h4
        :font-weight normal

#postlistbox
    +column(13)
    +prepend(3)

#postbox
    +column(18)
    +prepend(1)
    +append(1)
    :margin-left 10px
    
.centerbox
    +column(24, true)
    h2
        :font-size 1.8em
    p
        :text-indent 2em
        :font 13px Helvetica, Arial, sans-serif
    pre
        :font 14px "Inconsolata", Monaco, monospace
        :background-color #eef
        :border 1px solid #ddd
        :padding 0.4em
        :margin 20px 10px
        :overflow-x auto
    a
        :text-decoration underline
    hr
        :border 1px dashed #888
        :width 50%
        :height 0px
        :margin-bottom 1em

#nametag
    +column(7, true)
    +append(1)
    :float right
    :margin-bottom 1em
    :font-size 1.3em
    :font-family serif
    h1
        :margin-bottom 0em

#sidebar
    +column(7)
    a
        :color #000
    a:hover
        :text-decoration none
        :border-bottom 1px dashed #888
    a:visited
        :color #888
    .sitelinks
        a
            :text-decoration none
    .entry
        a
            :text-decoration underline
        a:hover
            :text-decoration none
    
li.postlist
    :margin-top 0.75em
    :margin-bottom 0.75em
    
.postlist
    +prepend(1)
    :list-style-type none
    strong
        :font 1.25em "Courier New", "Courier", monospace
        :font-weight bold
    a
        :color #000000
        :text-decoration underline
        :font 1.1em verdana, arial, times, "Times New Roman", sans-serif
    a:visited
        :color #555
    a:hover
        :text-decoration none
        :border-bottom 1px dotted #999


#homenav
    +column(14, true)
    :text-align center
    :font-size 2em
    :line-height 1em
    :color #000
    a
        :text-decoration none
        :color #000
    a:visited
        :color #888
    span
        :border-bottom 0px solid #999
    #homenavbox
        +column(4)
        +push(0)
        :margin-bottom 0.5em
        :border-left 2px solid #888
        :border-bottom 2px dashed #888
        :border-right 2px solid #888
    #homenavbox:hover
        :cursor pointer
        :border-left 2px dashed #888
        :border-bottom 2px solid #888
        :border-right 2px dashed #888
        

.nav
    +column(2)
    :font-size 1.5em
    :margin-top 2.5em
    :text-align center
    :margin-right 0em
    a
        :text-decoration none
        :color #888
    a:hover
    a:visited
        :color #888
    span
        :font-size 2.25em
        :line-height 0.85em
        :vertical-align top
    #leftnav
        :cursor pointer
        :padding-top 0em
        :border-top 2px solid #888
        :border-bottom 2px solid #888
        :border-right 2px dashed #888
        :height 50%
    #leftnav:hover
        :border-right 2px solid #888
        :border-top 2px dashed #888
        :border-bottom 2px dashed #888
    #rightnav
        :cursor pointer
        :padding-top 0em
        :border-top 2px solid #888
        :border-bottom 2px solid #888
        :border-left 2px dashed #888
        :height 50%
    #rightnav:hover
        :border-left 2px solid #888
        :border-top 2px dashed #888
        :border-bottom 2px dashed #888
        
.sitelinks
    a
        :padding-right 0.25em
        
#recent
    :font-family verdana, arial, times, "Times New Roman", sans-serif
    :font-size 0.95em
    :overflow hidden
    ul
        :padding 0em
        :margin 0px
        :margin-left 20px
        :list-style-type none
        img
            :float left
            :margin-top 3px
            :margin-left -20px
        li
            :padding-bottom 0.25em
            :padding-left 20px
            :margin 0em
            :margin-left -20px
            :line-height 1.4em
        .date_and_time
            :font-size 0.9em
            :color #666
            :margin-bottom 0.5em