!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title= page.title ? "Still Learning..." + page.title : "Still Learning..."
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/ie.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/screen.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/styles.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/syntax.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:regular,italic"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Inconsolata:regular"}
    %link{:rel => "me",         :type => "text/html", :href => "http://www.google.com/profiles/hawk684"}
    %link{:href => FEED_URL, :rel => "alternate", :title => "Still Learning", :type => "application/atom+xml"}

    %link{:rel => "openid2.provider", :href => "https://www.google.com/accounts/o8/ud?source=profiles"}
    %link{:rel => "openid2.local_id", :href => "http://www.google.com/profiles/hawk684"}
    
    %script{:src => '/js/modernizr-1.6.min.js', :type => 'text/javascript'}
  %body
    #container
      %header#page_header
        %h1
          %a{:href => "http://philkates.com"}
            Still Learning...
        %h2 I haven't figured out what I'm good at yet.
      #nametag
        %h1 Phil Kates
        %ul
          %li I work with computers.
          %li I learn things.
          %li I solve problems.
      = content

    %script{:src => '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js', :type => 'text/javascript'}
    :javascript
      !window.jQuery && document.write(unescape('%3Cscript src="js/jquery-1.4.4.js"%3E%3C/script%3E'))
    %script{:src => '/js/recentloader.js', :type => 'text/javascript'}
    %script{:src => '/js/jquery.timeago.js', :type => 'text/javascript'}

:javascript
  $(document).ready(function() {
      var url = location.host.match(/\.dev$|^localhost/) ? "/thehawk.json" : "/ff.php";
      add_recent_links(url);
  });

:javascript
  var _gaq = [['_setAccount', 'UA-8643842-1'], ['_trackPageview']];
  (function(d, t) {
   var g = d.createElement(t),
       s = d.getElementsByTagName(t)[0];
   g.async = true;
   g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   s.parentNode.insertBefore(g, s);
  })(document, 'script');
 
