!!! strict
%html{html_attrs}
	%head
		%title Still Learning...
		%link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/ie.css"}
		%link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/media.css"}
		%link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/screen.css"}
		%link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/styles.css"}
	%body
		#container
			#content= content
			#sidebar
				%h1 Phil Kates